.container {
   
    max-width: 1280vw;
    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 32px;
    padding: 32px 16px;
    margin: 0 auto;
    
}

.sidebar {
    overflow: hidden;
    background-color: #202024;
    border-radius: 8px;
    height: fit-content;

}
.sidebar footer {
    border-top: 1px solid #323238;
    margin-top: 24px;
    padding: 24px 32px ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sidebar footer .button-edit-profile {
    background-color: transparent;
    color: #00875f;
    border: 1px solid #00875f;
    border-radius: 8px;
    padding: 16px 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;

}
.sidebar footer .button-edit-profile:hover{
    color: beige;
    background-color: #00875f;

}

.gato{
    width: 100%;
    height: 72px;
    object-fit: cover;
    
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;

}
.profile strong {
    margin-top: 16px;
    color: #e1e1e6;
    line-height: 1.6;
}
.profile span {
    margin-top: 14px;
    color: #e1e1e6;
    line-height: 1.6;
}
