.post {
    background-color: #202020;
    border-radius: 8px;
    padding: 40px;
    

}
.post + .post {
    margin-top: 32px;
}

.post header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #e1e1e6;

}

.post header .author {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.post header .author-info {
    display: flex;
    flex-direction: column;

}
.post header .author-info strong{
    color: beige;
    line-height: 1.6;

}



.post header .author-info span{
    color: #e1e1e6;
    line-height: 1.6;
    font-size: 14px;

}
.post header time {
    color: #8d8d99;
    line-height: 1.6;
    font-size: 14px;
}
.content {
    line-height: 1.6;
    margin-top: 24px;
    color: #c4c4cc;

}
.form strong {
    color: #1e1e1e;
}
.form footer {
    background-color: #c4c4cc;
    padding: 16px;

}
.form textarea {
    color: #8d8d99;
}
.form strong button{
    color: #202020;
    background-color: #008700;
}